@{
    ViewBag.Title = "About Us";
}


<div class="blog-post">
    <h2 class="blog-post-title">@ViewBag.Title</h2>
    <hr>
    <p>Swing It! Inc is a company that looks to ensure that technological waste is minimized. Our goal is to ensure that our customers can get the most out of their devices, and when they are done with them to recycle them appropriatly through our services!</p>
    <blockquote>
        <p>“There is no such thing as ‘away’. When we throw anything away it must go somewhere.” – Annie Leonard, Proponent of Sustainability</p>
    </blockquote>
    <h3 class="blog-post-title">Developers</h3>
    <hr>
</div>
<div class="row mb-2">
    <div class="col-md-6">
        <div class="card flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
                <strong class="d-inline-block mb-2 text-primary">Developer</strong>
                <h3 class="mb-0">
                    <a class="text-dark" href="https://www.linkedin.com/in/ken-harischandra">Kenneth Harischandra</a>
                </h3>
                <p class="card-text mb-auto">IT Professional, with a background in Business and Finance</p>
            </div>
            <img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb">
        </div>
    </div>
    <div class="col-md-6">
        <div class="card flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
                <strong class="d-inline-block mb-2 text-success">Developer</strong>
                <h3 class="mb-0">
                    <a class="text-dark" href="https://www.linkedin.com/in/manpreet-singh-4b553264/">Manpreet Singh Bhuller</a>
                </h3>
                <p class="card-text mb-auto">IT Professional, with several years of experience in Computer Science</p>
            </div>
            <img class="card-img-right flex-auto d-none d-md-block" data-src="">
        </div>
    </div>
</div>
    </div>


