@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Old Phones, More Money</h1>
    <p class="lead">We'll give you the best price for your old device!</p>
    <!--<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>-->
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Step 1</h2>
        <h3>Get Your Quote</h3>
        <p>
            Get your quote estimate, and device details will be reviewed to provide the best price.
        </p>
        <!--<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>-->
    </div>
    <div class="col-md-4">
        <h2>Step 2</h2>
        <h3>Ship your Device</h3>
        <p>A Shipment label will be provided for you to send your device straight to us.</p>
        <!--<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>-->
    </div>
    <div class="col-md-4">
        <h2>Step 3</h2>
        <h3>Get Your Money</h3>
        <p>Once your device(s) are recieved and inspection is complete; a direct e-transfer will be sent immidiately.</p>
        <!-- <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>-->
    </div>
</div>