/*ADJUST LOGO/BRAND*/
.navbar-default .navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 30px;
    line-height: 20px;
    font-family: Impact;
    color: white;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    /*color: #4c6885;*/ /*Sets the text hover color on navbar*/
    color: white;
    background-color: #4c6885;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >
a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #4c6885; /*BACKGROUND color for active*/
    background-color: #030033;
}

.navbar-default {
    background-color: #f7ab5c;
    /*border-color: #030033;*/
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    color: #262626;
    text-decoration: none;
    background-color: #66CCFF; /*change color of links in drop down here*/
}

.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    background-color: #4c6885; /*Change rollover cell color here*/
}

.navbar-default .navbar-nav > li > a {
    color: white; /*Change active text color here*/
}

.jumbotron {
    padding-top: 7em;
    padding-bottom: 7em;
    margin-bottom: 7em;
    background-image: url(Images/jumbotron.jpg);
    height: 100%;
    background-size: cover;
    color: white;
}

